.btn-primary28 {
    color: #fff;
    background-color: #fb8f24;
    border-color: #fb8f24;
}

.btn-primary28:hover {
    color: #fff;
    background-color: #001b54;
    border-color: #001b54;
}

.jet-call-bu {
    font-size: 19px;
    background-color: #1e519f;
    padding: 10px;
    color: #ffffff;
    border-radius: 30px;
}

.jet-mail-bu {
    font-size: 19px;
    background-color: #5e5e5e;
    padding: 10px;
    color: #ffffff;
    border-radius: 30px;
}

.jet-whatsapp-bu {
    font-size: 19px;
    margin-left: 5px;
    background-color: #64b161;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #094183;
    background: #292121;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.75);
}

/*.owl-carousel .owl-nav button.owl-prev {
background-color: #fb8f24!important;
color: #FFFFFF!important;
border-radius: 30px;
padding: 0px!important;
}

.owl-carousel .owl-nav button.owl-next {
background-color: #fb8f24!important;
color: #FFFFFF!important;
border-radius: 30px;
padding: 0px!important;
}





.owl-prev {
width: 15px;
height: 22px;
top: 20%;
right: -5%;
margin-left: -20px;
border:0px solid black;
}

.owl-next {
width: 15px;
height: 22px;
top: 40%;
right: -5%;
border:0px solid black;
}*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: 0;
    background-color: #194486;
    color: #f8f9fa;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
}

#scroll_top {
    position: fixed;
    display: none;
    background-color: #FFF;
}

.top-links {
    height: 50px;
    background: #194486;
    color: #ffffff;
}

.top-links:after {
    position: absolute;
    content: '';
    left: -50px;
    top: 0;
    border-style: solid;
    border-color: #194486 transparent #00f transparent;
    border-width: 50px 0 0 50px;
}

.top-links a {
    color: #ffffff;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 500;
}

.st-line {
    color: #ffb61c;
}

.box-animation {
    border-top: 1px solid #f8f8f8;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.box-animation:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
}

.md-shadow {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.md-bu-shadow {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.md-bu {
    border-radius: 2px;
}

.card-img-overlay {
    position: absolute;
    right: 0;
    top: 82%;
    background: rgba(20, 25, 60, .6);
    bottom: 0px;
    left: 0;
    padding: 1rem;
}

.card-img-overlay2 {
    position: absolute;
    right: 0;
    top: 70%;
    background: rgba(20, 25, 60, .6);
    bottom: 0px;
    left: 0;
    padding: .4rem;
}

.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    min-height: 100%;
    font-weight: 400;
}

.card.btn-owner {
    color: #094183;
    text-decoration: none;
}

.card.btn-owner:visited {
    color: #094183;
}

.card.btn-owner.bg-inverted,
.card.btn-owner.bg-inverted--o95 {
    background-color: #083c77;
    color: #fff;
    transform-origin: bottom;
}

.card.btn-owner.bg-inverted,
.card.btn-owner.bg-inverted--o95 h2 p {
    transform-origin: none;
    -ms-transform: skew(40deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);
}

.card__inner {
    padding: 1.5rem;
}

.card__inner--tight {
    padding: 1.5rem 0;
}

.card--fact .card__inner {
    display: block;
}

.card--fact .card__header {
    margin-bottom: 0.75rem;
    font-family: Roboto, sans-serif !important;
    font-size: 2.4rem;
    font-weight: 700;
}

.card--fact .card__header--sml {
    font-size: 1.7rem;
}

.card--fact .card__thumb {
    width: auto;
    max-height: 150px;
}

.card--fact .card__thumb+.card__inner {
    padding-top: 0;
}

.card--fact .card__meta {
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.card--fact-image .card__thumb {
    margin: 1.5rem auto;
}

.br-prty-0 {
    border-radius: 0px;
}

.fixed-UG {
    width: 70px;
    background: transparent;
    position: fixed;
    right: -6px;
    top: 21%;
    z-index: 100000;
}

.fixed-PG {
    width: 70px;
    background: transparent;
    position: fixed;
    right: -6px;
    top: 33%;
    z-index: 100000;
}

.fixed-mba {
    width: 70px;
    background: transparent;
    position: fixed;
    right: -6px;
    top: 45%;
    z-index: 100000;
}

.colab-min-ht {
    min-height: 360px;
    border-radius: 7px;
}

.colab-min-ht img {
    border-bottom: 5px solid #b0913d;
    border-radius: 7px 7px 0 0;
}

.rr-min-ht {
    min-height: 390px;
}

.ie-style {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    color: #fff;
    background-color: #094183;
    border-top: 10px solid rgba(25, 68, 134, .5);
    border-bottom: 10px solid rgba(125, 173, 226, .5);
}

.apply-now-button a {
    background-color: #fb8f24;
    text-decoration: none;
    color: #fff !important;
    border: 2px solid #fb8f24;
    font-size: 15px;
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
}

.card-img-top1 {
    margin-top: -90px;
    position: relative;
}

.btn-primary-reset a {
    color: #ffffff;
    background-color: #194486;
}

.setn-title h4::before {
    background-color: rgb(9 65 146 / 75%);
    height: 3px;
}

.setn-title h4::before {
    background-color: #daa520;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 49px;
    width: 25px;
}

.setn-title h4::after {
    bottom: 1px;
    left: 34px;
}

.setn-title h4::after {
    background-color: #bbb;
    bottom: 1px;
    content: "";
    height: 1px;
    left: 49px;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}

.setn-title2 h4::before {
    background-color: rgb(9 65 146 / 75%);
    height: 3px;
}

.setn-title2 h4::before {
    background-color: #daa520;
    bottom: 0;
    content: "";
    height: 2px;
    left: 16px;
    position: absolute;
    right: 49px;
    width: 25px;
}

.setn-title2 h4::after {
    bottom: 1px;
    left: 30px;
}

.setn-title2 h4::after {
    background-color: #bbb;
    bottom: 1px;
    content: "";
    height: 1px;
    left: 49px;
    position: absolute;
    right: 0;
    width: 50px;
}

.ie-style {
    background-color: #094183;
}

.ie-style {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    color: #fff;
    background-color: #094183;
    border-top: 10px solid rgba(25, 68, 134, .5);
    border-bottom: 10px solid rgba(125, 173, 226, .5);
}

.footer-bg {
    background-color: #182b45;
}

.footer-text-color {
    color: #ccc;
}

.footer-link ul li a {
    color: #ccc;
    font-size: 14px;
}

.footer-link ul li:before {
    display: inline-block;
    font-weight: 800;
    padding-right: 5px;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    color: #cdd2da;
    opacity: .9;
}

.footer-cr-link a {
    color: #cdd2da;
}

.footer h5 {
    color: #cccccc !important;
}

.footer-bottom-bg {
    background-color: #182d4a !important;
}

.enq-click-button {
    position: fixed;
    right: 13px;
    bottom: 140px;
    z-index: 9998;
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 1000;
    color: #fff !important;
    background: #073ba9;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgb(0 0 0 / 20%);
    backface-visibility: hidden;
    font-size: 15px;
    line-height: 1.428571429;
    box-sizing: border-box;
    border-color: transparent;
}

.bg-events {
    background-color: #ebecec !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.cam-bx {
    min-height: 250px;
}

.drop-divide {
    width: 550px;
    left: -150px;
}

.dropdown:hover .dropdown-content {
    display: block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.btn-primary-reset a {
    border: transparent;
    font-size: 13px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.active-nav-001 {
    color: #194486 !important;
}

.astrodivider {
    margin: auto;
    padding: 0 80px;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.astrodividermask {
    overflow: hidden;
    height: 10px;
}

.astrodividermask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 6px #ccc;
}

.astrodivider span {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 0 !important;
    box-shadow: 0 1px 2px #001c54;
    background: #194486;
}

.astrodivider i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #001c54;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #001c54;
    display: none;
}

.fa-external-link-alt:before {
    display: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: #3a4a76;
    font-weight: 600;
}

#study-campus .card-body {
    min-height: 250px;
}

.header-shadow {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.blog-entry .desc {
    padding: 40px 30px;
    display: block;
    width: 100%;
    float: left;
}

.blog-entry {
    width: 100%;
    float: left;
    /*background: #f8f9fa;*/
    margin-bottom: 3em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.bx-shadow4 {
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 10%);
}

.owl-theme .owl-dots .owl-dot span {
    display: none !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #f8f9fa;
    color: #3a4a76 !important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
}

.dropdown-menu a:hover {
    background-color: #3a4a76;
    color: #f8f9fa !important;
}

.dropdown-menu {
    border: none !important;
}

.dropdown-item {
    border-top: 1px solid #eaebec !important;
}

.nav-link {
    font-weight: 600;
}

#main-nav .nav-link {
    color: hsl(0deg 0% 20% / 60%);
}

.theme-color {
    color: #094183 !important;
}

@media (min-width: 600px) {
    .list-item--desk-1of1 .card--fact-image {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .list-item--desk-1of1 .card--fact-image .card__thumb {
        width: 40%;
    }
    .list-item--desk-1of1 .card--fact-image .card__inner {
        width: 60%;
    }
}

.card--fact p {
    font-size: 0.9rem;
}

.card--focus-box {
    position: relative;
    padding: 1.2rem;
    text-align: left;
}

.card--focus-box-vert {
    padding: 1.5rem;
    text-align: center;
}

.card--focus-box__cnr {
    position: absolute;
    width: 6em;
    height: 6em;
    opacity: 0.5;
    color: red;
}

.card--focus-box__cnr--top-left {
    top: 0;
    left: 0;
}

.card--focus-box__cnr--btm-right {
    right: 0;
    bottom: 0;
}

.loader {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0;
    top: 0;
    z-index: 9999999
}

.loader .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    border: 5px solid #ebebec;
    border-radius: 50%
}

.loader .loader-container:before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    border-bottom: 5px solid #f68d23;
    border-top: 5px solid #194486;
    border-radius: 50%;
    animation: loaderspin 1.8s infinite ease-in-out;
    -webkit-animation: loaderspin 1.8s infinite ease-in-out;
}

.loader .loader-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}

.loader .loader-icon img {
    animation: loaderpulse alternate 900ms infinite;
}

.loader.orange-color .loader-container:before {
    border-color: #ff5421;
}

.loader.yellow-color .loader-container:before {
    border-color: #f4bf00;
}

.loader.purple-color .loader-container:before {
    border-color: #4e49a1;
}

.loader.green-color .loader-container:before {
    border-color: #0c8b51;
}

@keyframes loaderspin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes loaderspin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes loaderpulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 11px;
    padding-left: 11px;
}

.dropdown-item {
    padding: .25rem 1.5rem !important;
    font-size: 15px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-image: linear-gradient(#f8f9fa, #e9eaea);
    color: #3a4a76 !important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
}

/*.dropdown-menu a {
color: #3a4a76!important;
}
*/

.header-top-right span {
    padding-left: 10px;
    padding-right: 10px;
}

.editors-pick-post .post-lists .single-post {
    padding: 15px 0;
    border-bottom: 1px solid #094183;
}

.dropdown-menu a {
    text-decoration: none;
}

@media (max-width: 767.98px) {
    .sm-logo-size {
        width: 175px;
    }
    .btn-primary-reset a {
        font-size: 12px;
        padding: 2px 7px !important;
        border: none;
    }
    .mobile-fs-95 {
        font-size: 95% !important;
    }
    .fixed-ctc {
        position: fixed;
        bottom: 0%;
        z-index: 1070;
        width: 100%;
        text-align: center;
    }
    .card-img-overlay {
        position: absolute;
        right: 0;
        top: 64%;
        background: rgba(20, 25, 60, .6);
        bottom: 0px;
        left: 0;
        padding: 1rem;
    }
    .fxbgcl {
        background-color: #fb8f24;
        color: #fff;
        font-size: 14px;
        padding: 7px;
    }
    .brrtftr {
        border-right: 1px solid #ffffff;
    }
    .footer-bottom-bg {
        padding-bottom: 60px;
    }
    #myBtn {
        right: 8px;
    }
    .enq-click-button {
        display: none;
    }
}

.program-title-bg {
    background-image: url(../programs/images/title-banner.jpg) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(1, 8, 16, 0.9);
}

.tab-content>.tab-pane {
    background: #fff;
}

.program-tab .nav-link.active {
    background-color: #194486 !important;
    color: #f8f9fa !important;
}

.tap-box-br {
    border: 1px solid #dee2e6;
}

.tap-ul-br {
    border-bottom: none !important;
}

.lstn {
    list-style-type: none;
}

.pro-tab-link ul li:before {
    display: inline-block;
    margin-right: 5px;
    /*content: url(../images/arrow-point-to-right3.png);*/
}

.pro-btn-primary-reset a {
    color: #fff;
    background-color: #194486;
    font-size: 15px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.pro-btn-primary-reset a:hover {
    color: #194486;
    background-color: #fff;
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
}

.pro-card-header {
    padding: 1px 10px !important;
    background-color: #fff !important;
}

.pro-card-header-color {
    color: #194486 !important;
}

.card-header2:after {
    content: "\2212";
    float: right;
    border-radius: 30px;
    padding: 0 6px;
    background-color: #194486;
    color: #fff;
}

.show>.card-header2:after {
    content: "\002B" !important;
}

.collapsed>.card-header2:after {
    content: "\002B";
}

.curr-head {
    padding: 5px 10px 5px 20px !important;
    font-size: 18px;
    font-weight: 500;
}

ul.timeline-list {
    position: relative;
    margin: 0;
    padding: 0;
}

ul.timeline-list:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #e5e5e5;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

ul.timeline-list li {
    position: relative;
    clear: both;
    display: table;
}

.timeline_content {
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

ul.timeline-list li .timeline_content {
    width: 45%;
    color: #194486;
    padding: 30px;
    float: left;
    text-align: right;
}

ul.timeline-list li:nth-child(2n) .timeline_content {
    float: right;
    text-align: left;
}

.timeline_content h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
}

ul.timeline-list li:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #194486;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.timeline_content span {
    font-size: 14px;
    font-weight: 400;
    color: #194486;
}

.info-fs {
    font-size: 18px !important;
}

.eos-menu,
.eos-menu *,
.eos-menu :after,
.eos-menu :before {
    padding: 0;
    font-family: Raleway;
    margin: 0 auto;
    border-radius: 2px;
    letter-spacing: 1px;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.eos-menu {
    font-size: 16px;
    color: #eee;
}

.eos-menu li {
    list-style: none;
}

.eos-menu .eos-menu-content {
    position: absolute;
    width: 100%;
    overflow-y: hidden;
    height: 0;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.eos-menu .eos-group-content {
    overflow-y: hidden;
    height: 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.eos-menu .eos-group-title,
.eos-menu .eos-item,
.eos-menu .eos-menu-title {
    background: #194486;
    border-color: #293744;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-bottom: 1px solid #f8f9fa;
}

.eos-menu .eos-group-title .fa,
.eos-menu .eos-item .fa,
.eos-menu .eos-menu-title .fa {
    line-height: 40px;
}

.eos-menu .eos-group-title:hover,
.eos-menu .eos-item:hover,
.eos-menu .eos-menu-title:hover {
    cursor: pointer;
    background: #182b45;
    color: #fff !important;
}

.eos-menu .eos-group-content .eos-item {
    background: #efeeee;
    padding-left: 30px !important;
}

.eos-menu .eos-item a {
    color: #eee;
    display: block;
    text-decoration: none;
}

.eos-menu .eos-pull-right {
    float: right;
}

.eos-menu .auto-height {
    height: auto;
}

.toggle:before {
    margin-left: 65px;
    margin-top: 10px;
}

.navbar-toggler {
    padding: 10px 10px !important;
}

.navbar-toggler-icon {
    width: 1.2em !important;
    height: 1.2em !important;
}

.toggle-fa i {
    font-size: 24px;
}

.carousel-control-next-icon {
    background-color: #fb8f24;
    background-size: 8px;
    border-radius: 30px;
}

.carousel-control-prev-icon {
    background-color: #fb8f24;
    background-size: 8px;
    border-radius: 30px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.carousel-control-prev {
    left: -3%;
    top: 80%;
    opacity: 1;
    height: 30px;
}

.carousel-control-next {
    right: 88%;
    top: 90%;
    opacity: 1;
    height: 30px;
}

@media (max-width: 991.98px) {
    ul.timeline-list li .timeline_content {
        width: 100%;
        color: #194486;
        padding: 20px;
        margin-bottom: 30px;
        float: left;
        text-align: left;
    }
    ul.timeline-list li:before {
        display: none;
    }
    .eos-menu,
    .eos-menu *,
    .eos-menu :after,
    .eos-menu :before {
        padding: 0 15px 0 0;
    }
}

@media (max-width: 767.98px) {
    .carousel-control-prev {
        left: -3% !important;
        top: 80% !important;
        opacity: 1;
        height: 30px;
    }
    .carousel-control-next {
        right: 88% !important;
        top: 90% !important;
        opacity: 1;
        height: 30px;
    }
    .carousel-control-next-icon {
        background-color: #192553;
        background-size: 6px;
        border-radius: 30px;
    }
    .carousel-control-prev-icon {
        background-color: #192553;
        background-size: 6px;
        border-radius: 30px;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 768px) {
    .eos-menu .eos-menu-title {
        display: none;
    }
    .eos-menu .eos-menu-content {
        height: auto;
        position: inherit;
    }
}

.pro-btn-primary-reset a {
    color: #fff;
    background-color: #194486;
    font-size: 15px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.breadcrumb {
    width: 100%;
    float: left;
    clear: left;
}

.breadcrumb ol {
    margin: 25px 0 0;
    padding: 8px 0 16px;
    list-style: none;
    color: #8f8f8f;
}

.breadcrumb ol>li {
    display: inline-block;
}

.breadcrumb ol>li+li:before {
    content: "/";
    padding: 0 5px;
    color: #3a4a76;
}

.no-bg {
    background: 0 0 !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.curr-head {
    padding: 5px 10px 5px 20px !important;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 576px) {
    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        background-color: #e5e5e5;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    ul.timeline-list li {
        position: relative;
        clear: both;
        display: table;
    }
    .timeline_content {
        border: 1px solid #e5e5e5;
        background-color: #fff;
    }
    ul.timeline-list li .timeline_content {
        width: 45%;
        color: #333;
        padding: 30px;
        float: left;
        text-align: right;
    }
    ul.timeline-list li:nth-child(2n) .timeline_content {
        float: right;
        text-align: left;
    }
    .timeline_content h4 {
        font-size: 22px;
        font-weight: 400;
        margin: 10px 0;
    }
    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-color: #adb9cc;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
    .timeline_content span {
        font-size: 14px;
        font-weight: 400;
        color: #194486;
    }
    .eos-menu,
    .eos-menu *,
    .eos-menu :after,
    .eos-menu :before {
        padding: 0;
        font-family: Roboto, sans-serif !important;
        margin: 0 auto;
        border-radius: 2px;
        letter-spacing: 1px;
        font-weight: 400;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .eos-menu {
        font-size: 16px;
        color: #eee;
        margin-top: 40px;
    }
    .eos-menu li {
        list-style: none;
    }
    .eos-menu .eos-menu-content {
        position: absolute;
        width: 100%;
        overflow-y: hidden;
        height: 0;
        z-index: 10;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .eos-menu .eos-group-content {
        overflow-y: hidden;
        height: 0;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .eos-menu .eos-group-title,
    .eos-menu .eos-item,
    .eos-menu .eos-menu-title {
        height: 40px;
        line-height: 40px;
        background: #efeeee;
        border-color: #293744;
        padding-left: 15px !important;
        padding-right: 15px !important;
        border-bottom: 1px solid transparent;
    }
    .eos-menu .eos-group-title .fa,
    .eos-menu .eos-item .fa,
    .eos-menu .eos-menu-title .fa {
        line-height: 40px;
    }
    .eos-menu .eos-group-title:hover,
    .eos-menu .eos-item:hover,
    .eos-menu .eos-menu-title:hover {
        cursor: pointer;
        background: #293744;
        color: #fff !important;
    }
    .eos-menu .eos-group-content .eos-item {
        background: #efeeee;
        padding-left: 30px !important;
    }
    .eos-menu .eos-item a {
        color: #eee;
        display: block;
        text-decoration: none;
    }
    .eos-menu .eos-pull-right {
        float: right;
    }
    .eos-menu .auto-height {
        height: auto;
    }
    .ie-style {
        /* background: url(../images/world-map-transparent-bg.png) no-repeat center center fixed;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        color: #fff;
        background-color: #094183;
        border-top: 10px solid rgba(25, 68, 134, 0.5);
        border-bottom: 10px solid rgba(125, 173, 226, 0.5);
    }
    .mb-stl {
        padding-bottom: 70px;
    }
}

@media (max-width: 768px) {
    .eos-menu .eos-menu-title {
        display: none;
    }
    .eos-menu .eos-menu-content {
        height: auto;
        position: inherit;
    }
    .mb-stl {
        padding-bottom: 20px;
    }
}

.breadcrumb {
    padding: 5px 0 !important;
    margin-bottom: 0 !important;
}

.top-box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.theme-color {
    color: #094183 !important;
}

.no-bg {
    background: 0 0 !important;
}

@media (min-width: 576px) {
    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-color: #194486;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
    /*Program Page*/
    .pro-line-style {
        width: 50%;
        height: 3px;
        background: #194486;
        position: relative;
        top: 0;
        left: 0;
    }
    .pro-box-style {
        background: #fff;
        height: auto;
        padding: 10px;
        border-left: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    .pro-rt-box-style {
        background: #f5f5f5;
        height: auto;
        padding: 40px;
        border-right: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    .side-nav-academics ul li a {
        text-transform: capitalize !important;
        column-width: 280px;
        border-bottom: 1px solid #99a2aa;
    }
    .side-nav-academics ul li a:after {
        /*content: url(https://www.jainuniversity.ac.in/application/themes/events/assets/images/arrow-point-to-right.png);*/
        float: right;
        color: #fff;
        margin-right: 0;
        margin-top: 4px;
        -webkit-transition: margin-right 0.3s ease-out;
        -moz-transition: margin-right 0.3s ease-out;
        -o-transition: margin-right 0.3s ease-out;
        transition: margin-right 0.3s ease-out;
    }
    .side-nav-academics ul li:hover a:after {
        margin-right: -10px;
        -webkit-transition: margin-right 0.3s ease-in;
        -moz-transition: margin-right 0.3s ease-in;
        -o-transition: margin-right 0.3s ease-in;
        transition: margin-right 0.3s ease-in;
    }
    .cs-parallax-bg {
        /* background-image: url(../current-student/images/handbook.jpg);*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .css-height {
        height: 600px;
    }
    .cs-title-box {
        background-color: rgba(25, 68, 134, 0.8) !important;
        margin-top: 150px;
    }
    .side-nav-cs a {
        text-transform: capitalize !important;
        column-width: 280px;
        border-bottom: 1px solid #99a2aa;
    }
    .side-nav-cs a:after {
        content: url(../images/arrow-point-to-right.png);
        float: right;
        color: #fff;
        margin-right: 0;
        margin-top: 4px;
        -webkit-transition: margin-right 0.3s ease-out;
        -moz-transition: margin-right 0.3s ease-out;
        -o-transition: margin-right 0.3s ease-out;
        transition: margin-right 0.3s ease-out;
    }
    .side-nav-cs:hover a:after {
        margin-right: -10px;
        -webkit-transition: margin-right 0.3s ease-in;
        -moz-transition: margin-right 0.3s ease-in;
        -o-transition: margin-right 0.3s ease-in;
        transition: margin-right 0.3s ease-in;
    }
    .drop-d-bb {
        border-bottom: 1px solid #99a2aa;
    }
    .dropdown-toggle2:after {
        float: right;
        margin-top: 4px;
        /*content: url(../images/arrow-point-to-down.png) !important;*/
        margin-right: 0;
        -webkit-transition: margin-right 0.3s ease-out;
        -moz-transition: margin-right 0.3s ease-out;
        -o-transition: margin-right 0.3s ease-out;
        transition: margin-right 0.3s ease-out;
    }
    .dropdown:hover .dropdown-toggle2:after {
        margin-right: -10px;
        -webkit-transition: margin-right 0.3s ease-out;
        -moz-transition: margin-right 0.3s ease-out;
        -o-transition: margin-right 0.3s ease-out;
        transition: margin-right 0.3s ease-out;
    }
    .dropdown-menu {
        background-color: #FFFFFF;
        border-bottom: 3px solid #001b54 !important;
    }
    .dropdown-item {
        border-top: none !important;
    }
    .socialmedia i {
        background-color: #fff;
        padding: 10px 0;
        border-radius: 30px;
        text-align: center;
        width: 35px;
        color: #182b45;
    }
    .socialmedia i:hover {
        background-color: #05395d;
        color: #FFFFFF;
    }
    .side-nav-academics ul li a:after {
        content: url(https://www.jainuniversity.ac.in/application/themes/events/assets/images/arrow-point-to-right.png);
        float: right;
        color: #fff;
        margin-right: 0;
        margin-top: 4px;
        -webkit-transition: margin-right .3s ease-out;
        -moz-transition: margin-right .3s ease-out;
        -o-transition: margin-right .3s ease-out;
        transition: margin-right .3s ease-out;
    }
    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }
    .top-links a {
        color: #ffffff;
        font-size: 14px;
    }
}